@import "tailwindcss";

:root {
  --purple-500: #7c5dfa;
  --purple-200: #9277ff;
  --purple-700: #252945;
  --purple-900: #1e2139;
  --background: #f8f8fb;
  --white: #dfe3fa;
  --gray: #888eb0;
  --black: #0c0e16;
  --red-700: #ec5757;
  --red-300: #ff9797;
}

.dark {
  --background: #0c0e16;
  --black: #dfe3fa;
   --white:  #1e2139;
}

body {
  background-color: var(--background);
}
