@import "tailwindcss";

:root {
  --purple-500: #7C5DFA;
  --purple-200: #9277FF;
  --purple-700: #252945;
  --purple-900: #1E2139;
  --background:#F8F8FB;
  --white:#DFE3FA;
  --gray:#888EB0;
  --black: #0C0E16;
  --red-700: #EC5757;
  --red-300: #FF9797;
 
}


.dark{
   --background: #0C0E16;
   --black: var(--white)
}


body{
  background-color: var(--background);
}