@import "tailwindcss";

:root {
  --purple-500: #7C5DFA;
  --purple-200: #9277FF;
  --purple-700: #252945;
  --background:#F8F8FB;
 
}


.dark{
   --background: #0C0E16;
}


body{
  background-color: var(--background);
}